/***
* Particles JS
***/

#particles-js {
  width: 100%;
  height: 100%;
  background-color: $bgGrey;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat no-repeat;
  z-index: -9999;
  position: absolute;
  top: 0;

  &.moon {
    background-color: #000;
  }
}

/***
* Animations
***/

@keyframes appear {
  0% { top: 15px; opacity: 0 }
  15% { top: 0 }
  30% { opacity: 1  }
  80% { opacity: 1  }
  100% { opacity: 0  }
}

@keyframes line-right {
  0%   { width: 0; background-color: #fcf880; }
  100% { width: 100%; background-color: #ff6f6f; }
}

/***
* Global
***/

::selection {
  background: #fcf880;
}
::-moz-selection {
  background: #fcf880;
}

body {
  background-color: $bgGrey;
  color $darkGrey;
  font-family: $a-heavy;
}

h1 {
  font-family: $a-black;
  font-size: 32px;
  letter-spacing: 1px;

  @media $mobile {
    font-size: 24px;
  }
  span {
    color: $red;
  }
}

p {
  font-size: 24px;
  margin: 5px 0;

  @media $mobile {
    font-size: 14px;
    margin: 10px 0;
    line-height: 16px;
  }
}

/**
* Intro
**/

.hero-block {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 70%;
  margin: auto;

  @media $mobile {
    max-width: 85%;
  }

  p:last-of-type {
    margin-top: 3%;
  }

  .phrases {
    position: relative;
    animation: appear 5500ms ease;
    display: inline-block;

    &.anim:after {
      content: '';
      width: 100%;
      height: 8px;
      background-color: #ff6f6f;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      animation: line-right 5500ms ease;
      z-index: -2;

      @media $mobile {
        height: 6px;
      }
    }

  }

  .dont-move {
    font-size: 10px;
    display: inline-block;
    color: rgba(0,0,0,.1);
  }

  .heart-icon {
    @media $mobile {
      height: 10px;
    }
  }
}
