/**
* Colors
**/
$red = #FA1717;
$bgGrey = #F7F7F7;
$ltGrey = lightness($bgGrey, 80%);
$darkGrey = #464646;

/**
* Fonts
**/
@font-face { font-family: Avenir-Black; url('../../../assets/fonts/Avenir-Black.ttf')  format('truetype') }
@font-face { font-family: Avenir-Heavy; url('../../../assets/fonts/Avenir-Heavy.ttf')  format('truetype') }

$a-black = Avenir-Black, Helvetica, sans-serif;
$a-heavy = Avenir-Heavy, Helvetica, sans-serif;
