/**
* Colors
**/
$red = #FA1717;
$bgGrey = #F7F7F7;
$ltGrey = lightness($bgGrey, 80%);
$darkGrey = #464646;

/**
* Fonts
**/
@font-face { font-family: Avenir-Black; src: url('../../../assets/fonts/Avenir-Black.ttf')  format('truetype') }
@font-face { font-family: Avenir-Heavy; src: url('../../../assets/fonts/Avenir-Heavy.ttf')  format('truetype') }

$a-black = Avenir-Black, Helvetica, sans-serif;
$a-heavy = Avenir-Heavy, Helvetica, sans-serif;

/**
* Breakpoints
**/
$mobile = "(min-width: 320px) and (max-width: 767px)"
$tablet = "(min-width: 768px) and (max-width: 1023px)";
$desktop = "(min-width: 1024px)";
